* , *::before, *::after{
  box-sizing: border-box;
}
html {
  width: 99vw;
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  
  background: transparent;
  
}
header h1 {
  padding-left: 35px;
  font-weight: 800;
  font-size: 24px;
}
.nav-bar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  align-items: center;
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
  color: #ddddff;
  

}
body {
  background-color: #141414;
  
  overflow-x: hidden;
}
.wrap {
  
  width: 99vw;
}

 .wrap .cont-hero {
  display: block;
  width: 99vw;
  background-size: cover;
  height: 100vh;
  background-image: 
      linear-gradient(180deg,
      hsla(0,0%,8%,0) 0,
      hsla(0,0%,8%,.15) 15%,
      hsla(0,0%,8%,.35) 29%,
      hsla(0,0%,8%,.58) 44%,
      #141414 99%,
      #141414),
      url("../img/hero-bg.jpg");
      
 }

.cont-movies {
  width: 99vw;
  height: auto;
  margin: 0 auto;
  padding: 30px 50px;
  box-sizing: border-box;
  overflow: hidden;
}
.cont-movies ul {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  box-sizing: border-box;
  justify-items: center;
}
.cont-movies .tit-movies {
  color: #e5e5e5;
  padding: 8px 8px 8px 0px;
  font-size: 20px;

}
.cont-movies ul .item-movie {
  overflow: auto;
}
.cont-movies ul .item-movie img{
  width: 180px;
  height: 270px;
  cursor: pointer;
}


/* 넷플릭스 슬라이더 구현 */

:root {
  --handle-size: 3rem;
  --img-gap: .25rem;
}


.cont-trending {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 150px;
}
.slider {
  --items-per-screen: 4;
  --slider-index:0;
  display: flex;
  flex-grow: 1;
  margin: 0 var(--img-gap);
  transform: translateX(calc(var(--slider-index)* -100%));
  transition: transform 250ms ease-in-out
}
.slider > img {
  max-width: calc(100%/var(--items-per-screen));
  flex: 0 0 calc(100%/var(--items-per-screen));
  aspect-ratio: 1 / 1.4;
  padding: var(--img-gap);
  border-radius: .5rem;
  overflow: hidden;
  
}
.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  pad: 0 .25rem;
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 0;
  transition: background-color 150ms ease-in-out;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}



.text {
  transition: transform 150ms ease-in-out;
}
.handle:hover .text,
.handle:focus .text{
  transform: scale(1.1);
} 

.row {

}

.header-slider{
  display: flex;
  justify-content: space-between;
  padding: .5rem calc((var(--img-gap)*2 + var(--handle-size)));
  align-items: center;
}

.tit-movies {
  font-size: 1.5rem;
  margin: 0;
  color: white;
  margin: 0;
}
.progress-bar{
  display: flex;
  gap: .5rem;
}

.progress-item {
  flex: 0 0 2rem;
  min-width: 2rem;
  height: .25rem;
  background-color: rgba(255,255,255,.5);
}

.progress-item.active{
  background-color: rgba(255,255,255,1);
}

@media (max-width: 1000px) {
  .slider {
    --items-per-screen: 3;
  }
  .tit-movies{
    font-size: 1rem;
  }
}

